#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#console thead {
    width: 25%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #208876;
    forced-color-adjust: none;
    color: white;
}

#customers thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #208876;
    forced-color-adjust: none;
    color: white;
}

#customers td, #customers th {
    border: 1px solid #313131;
    padding: 8px;
    text-align: center;
}

#customers tbody tr:nth-child(even) {
    background-color: #cbcbcb;
}

#customers tbody tr:hover {
    background-color: #e0e0e0;
}

